{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
   <body>
       <div class="Cadastro" style="width: 1920px; height: 1024px; position: relative; background: #FAF8F8">
          <div class="Header" style="width: 1920px; height: 100px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle71" style="width: 1920px; height: 100px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div class="Logo" style="width: 356px; height: 89px; left: 148px; top: 6px; position: absolute">
              <div class="Poupemoneyheader" style="width: 230px; height: 27px; left: 126px; top: 32px; position: absolute; color: #1A1A6C; font-size: 36px; font-family: Raleway; font-weight: 700; word-wrap: break-word">PoupeMoney</div>
              <img class="Image8" style="width: 89px; height: 89px; left: 0px; top: 0px; position: absolute" src="https://img.icons8.com/?size=100&id=59183&format=png&color=000000" />
            </div>
            <div class="Actions" style="width: 282px; height: 27px; left: 1031px; top: 40px; position: absolute">
              <div class="Login" style="width: 84px; height: 27px; left: 0px; top: 0px; position: absolute; color: #2176FF; font-size: 26px; font-family: Raleway; font-weight: 400; word-wrap: break-word">Login</div>
              <div class="CadastreSe" style="width: 153px; height: 24px; left: 129px; top: 1px; position: absolute; color: #2176FF; font-size: 26px; font-family: Raleway; font-weight: 400; word-wrap: break-word">Cadastre-se</div>
            </div>
          </div>
          <div class="Rectangle9" style="width: 573px; height: 692px; left: 728px; top: 166px; position: absolute; background: linear-gradient(180deg, #2176FF 0%, #1A1A6C 100%)"></div>
          <div class="Rectangle65" style="width: 600px; height: 92px; left: 135px; top: 166px; position: absolute; background: #2176FF"></div>
          <div class="FaASeuCadastro" style="left: 302px; top: 191px; position: absolute; color: white; font-size: 30px; font-family: Raleway; font-weight: 600; word-wrap: break-word">Faça seu cadastro</div>
          <div class="Rectangle72" style="width: 600px; height: 600px; left: 135px; top: 258px; position: absolute; background: white"></div>
          <div class="Nome" style="width: 70px; height: 37px; left: 148px; top: 312px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Nome</span><span style="color: #E52424; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">*</span></div>
          <div class="InsiraSeuEMail" style="width: 176.51px; height: 30px; left: 148px; top: 457px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Insira seu e-mail </span><span style="color: #E52424; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">*</span></div>
          <div class="InsiraUmaSenha" style="width: 176.51px; height: 38px; left: 148px; top: 622px; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Insira uma senha </span><span style="color: #E63131; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">*</span></div>
          <form class="cadastrando "method="POST" >
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}
                <button class="BOTAOC" style="background-color:#2176FF; width: 400px; height: 52.20px; left: 148px; top: 800px; position: absolute;color: #FAF8F8; border-radius: 50px; border: 1px #7B7B7B solid" type="submit">Cadastre-se</button>
            </form>

          <img class="ImageGeneric" style="width: 250px; height: 300px; left: 900px; top: 350px; position: absolute" src="https://static-00.iconduck.com/assets.00/money-mouth-face-emoji-512x512-qnbojb0r.png" />
          <div class="SejaBemVindo" style="width: 337px; height: 47px; left: 868px; top: 191px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 600; word-wrap: break-word">Seja bem-vindo!</div>
        </div>
   </body>

